@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500&display=swap');

body {
    --main-color: #818CF8;
    --main-secondary: #a5b4fc;
    --main-tertiary: #c7d2fe;
    --green: #4ADE80;
    --bg-green: #dcfce7;
    --dark-green: #22c55e;
    --red: #ef4444;
    --light-red: #f87171;
    --bg-red: #fecaca;
    --dark-red: #dc2626;
    --yellow: #facc15;
    --bg-yellow: #fef3c7;
    --dark-yellow: #eab308;
    --blue: #0ea5e9;
    --bg-blue: #dbeafe;
    --background: #F0F1F5;
    --border: #F0F1F5;
    --transparent-background: rgba(255, 255, 255, 0.95);
    --modal-header: rgba(255, 255, 255, 0.6);
    --modal-body: rgba(255, 255, 255, 0.2);
    --primary-text: #595B6C;
    --secondary-text: #A3A4AE;
    --tertiary-text: #b1b2c2;
    --hover-text: #383a47;
    --section-bg-color: #FFFFFF;
    --nav-hover: #eef0f5;
    --box-shadow: 0 3px 12px rgb(0, 0, 0, .1);
    --hover-box-shadow: 0 4px 15px rgb(0, 0, 0, .2);
    --border-radius: 8px;
    --search-icon: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="test" data-src="/icons/search-01-stroke-rounded.svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" %3E%3Cpath d="M17.5 17.5L22 22" stroke="%23595B6C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3Cpath d="M20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11Z" stroke="%23595B6C" stroke-width="1.5" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
    --search-cancel: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23595B6C'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

body.dark-theme,
body.midnight-theme {
    --main-tertiary: #3e4477;
    --main-secondary: #565cab;
    --primary-text: #cdd0e4;
    --secondary-text: #888baf;
    --tertiary-text: #78789b;
    --bg-green: #284a37;
    --bg-yellow: #745a34;
    --bg-red: #5e2323;
    --bg-blue: #2a3c6e;
    --hover-text: #b1b5ce;
    --nav-hover: hsla(233, 18%, 25%, 0.95);
    --box-shadow: 0 3px 12px rgb(0, 0, 0, .1);
    --hover-box-shadow: 0 4px 15px rgb(0, 0, 0, .2);
    --search-icon: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="test" data-src="/icons/search-01-stroke-rounded.svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" %3E%3Cpath d="M17.5 17.5L22 22" stroke="%23cdd0e4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3Cpath d="M20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11Z" stroke="%23cdd0e4" stroke-width="1.5" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
    --search-cancel: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23cdd0e4'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>")
}

body.dark-theme {
    --background: #262936;
    --transparent-background: rgba(48, 50, 65, 0.95);
    --modal-header: rgba(48, 50, 65, 0.6);
    --modal-body: rgba(48, 50, 65, 0.2);
    --section-bg-color: #303241;
    --border: #414457;
}

body.midnight-theme {
    --background: #000000;
    --transparent-background: rgba(0, 0, 0, 0.9);
    --modal-header: rgba(0, 0, 0, 0.6);
    --modal-body: rgba(0, 0, 0, 0.2);
    --section-bg-color: #111113;
    --border: #25252b;
}

body.midnight-theme .welcome,
body.midnight-theme .header-buttons button:last-child {
    background: var(--background);
    outline: 1px solid var(--main-color);
    color: var(--primary-text);
}

body.midnight-theme .welcome {
    background: no-repeat 95% 80%/40% url(/undraw_stars_re_6je7.svg), var(--background);
}

body.midnight-theme .welcome svg {
    stroke: var(--primary-text);
}

body.midnight-theme .header-buttons button:last-child .button-icon,
body.midnight-theme .logo-text > svg {
    stroke: var(--primary-text);
}

body.midnight-theme header {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

body.dark-theme .logo-text > svg {
    stroke: white;
}

body[data-mode="light"] .header-icon.sun {
    display: block;
}

body[data-mode="dark"] .header-icon.moon {
    display: block;
}

body[data-mode="midnight"] .header-icon.midnight {
    display: block;
}

body[data-mode="system"] .header-icon.system {
    display: block;
}

[data-mode="light"] {
    color-scheme: light;
}

[data-mode="dark"] {
    color-scheme: dark;
}

[data-mode="midnight"] {
    color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    [data-mode="system"] {
        color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
}

*::selection {
    background: var(--main-color);
    color: white;
}

body {
    font: 400 1em 'Roboto', 'sans-serif';
    margin: 0;
    background-color: var(--background);
    color: var(--primary-text);
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    appearance: none;
    background-color: unset;
    border: none;
    outline: none;
    padding: unset;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.container {
    display: flex;
    width: 100%;
}

.layout {
    margin-left: 15rem;
    width: calc(100% - 15rem);
    padding-right: 1.5rem;
}

.content {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    margin-top: calc(60px + 3rem);
    margin-bottom: 3rem;
    padding-left: 1.5rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    gap: 1.5rem;
}

aside {
    height: 100dvh;
    width: 15rem;
    grid-row: 1 / span 3;
    background-color: var(--transparent-background);
    backdrop-filter: saturate(500%) blur(10px);
    padding: 1rem .25rem 0 1rem;
    display: flex;
    flex-direction: column;
    cursor: default;
    user-select: none;
    position: fixed;
    z-index: 4;
    transition: transform .3s;
}

nav {
    overflow-y: scroll;
    mask: linear-gradient(transparent .5rem, var(--section-bg-color) 1.5rem, var(--section-bg-color));
    -webkit-mask: linear-gradient(transparent .5rem, var(--section-bg-color) 1.5rem, var(--section-bg-color));
    padding-top: 1.5rem;
}

aside ul {
    list-style-type: none;
    margin-bottom: 1.5rem;
}

aside p {
    color: var(--tertiary-text);
    font-size: .875rem;
    margin-bottom: .25rem;
    margin-left: 1rem;
}

aside ul li {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: .25rem;
    padding: .5rem 1.125rem;
    border-radius: 4px;
    transition: background-color .25s;
    cursor: pointer;
    position: relative;
}

aside ul li:hover {
    background-color: var(--nav-hover);
}

aside ul li.badge:after {
    content: '5';
    color: var(--section-bg-color);
    background-color: var(--main-color);
    height: 1.25rem;
    width: 1.75rem;
    font-size: .75rem;
    top: -0.5rem;
    right: -0.5rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: .5rem;
    top: 25%;
}

.nav-icon {
    stroke: var(--primary-text);
    display: inline;
    vertical-align: baseline;
}

.logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: .25rem;
    cursor: pointer;
}

.logo-mark {
    display: grid;
    place-items: center;
    height: 2.25rem;
    width: 2.25rem;
    background-color: var(--main-color);
    stroke: var(--section-bg-color);
    stroke-width: 3;
}

.logo .logo-text {
    padding-top: .25rem;
    color: var(--main-color);
}

.logo-text {
    font: 500 1em 'Roboto Mono', monospace;
    letter-spacing: -.05em;
}

section .logo-text svg {
    stroke: var(--section-bg-color);
    stroke-width: 3;
}

.nav-menu-button {
    display: none;
    padding: .25rem;
    margin-left: 1rem;
    cursor: pointer;
}

.nav-menu-button * {
   pointer-events: none;
}

.header-wrapper {
    position: fixed;
    width: calc(100% - 15rem);
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
    z-index: 2;
}

.header-wrapper:before {
    content: "";
    width: 100%;
    height: 5rem;
    left: 0;
    top: 0;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mask: linear-gradient(var(--background), var(--background) 50%, transparent 100%);
    -webkit-mask: linear-gradient(var(--background), var(--background) 50%, transparent 100%);
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--transparent-background);
    gap: .5rem;
    padding: 0 1.5rem 0 0;
    border-radius: var(--border-radius);
    margin-top: 1.5rem;
    box-shadow: var(--box-shadow);
    max-width: 1300px;
    width: 100%;
    backdrop-filter: saturate(500%) blur(10px);
    border: 1px solid transparent;
    z-index: 2;
}

.header-icon,
.hamburger-icon {
    stroke: var(--primary-text);
    transition: stroke .1s;
}

.theme-select .header-icon {
    display: none;
}

.header-menu button:hover svg,
.nav-menu-button:hover svg {
    stroke: var(--hover-text);
}

header button {
    cursor: pointer;
    padding: .25rem;
    height: 2.25rem;
}

.header-menu {
    display: flex;
    gap: .5rem;
    height: 100%;
    align-items: center;
}

.header-menu button * {
   pointer-events: none;
}

ul.header-menu {
    list-style: none;
}

ul.header-menu li {
    list-style: none;
    position: relative;
}

.more-menu {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--section-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: .5rem;
    gap: .25rem;
    right: 0;
    transform: translateY(5px);
    opacity: 0;
    transition: transform .25s, opacity .25s, visibility .25s;
}

.more-menu .delete {
    color: var(--light-red);
}

.more-menu > li {
    display: flex;
    width: 100%;
    align-items: center;
    gap: .75rem;
    padding: .5rem 2rem .5rem 1rem;
    border-radius: 4px;
    transition: background-color .25s;
    cursor: pointer;
}

.more-menu li * {
    pointer-events: none;
}

.more-menu li:hover {
    background-color: var(--nav-hover);
}

.more-menu.active {
    visibility: visible;
    z-index: 1;
    transform: translateY(0);
    opacity: 1;
}

ul.header-menu li ul.active {
    z-index: 2;
}

ul.header-menu hr {
    width: calc(100% +  1rem);
    margin: 0;
    border: unset;
    border-top: 1px solid var(--tertiary-text);
    margin: .25rem -.5rem;
    opacity: .5;
}

ul.header-menu li ul svg {
    stroke: var(--primary-text);
}

ul.header-menu li ul li .submenu-text {
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .25rem;
}

ul.header-menu li ul li .submenu-text.new::before {
    content: '';
    display: inline;
    background-color: var(--main-color);
    height: .5rem;
    width: .5rem;
    border-radius: 100%;
    position: absolute;
    right: .5rem;
}

ul.header-menu li ul li .submenu-text .header {
    font-weight: 500;
}

ul.header-menu li ul li .submenu-text .subtext {
    font-size: .875em;
    color: var(--tertiary-text);
}

ul.header-menu li ul.notifications {
    width: 20rem;
    max-height: 30rem;
    overflow-x: clip;
    background-color: var(--section-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: unset;
    gap: 0;
    right: 0;
}

ul.header-menu li .notifications > ul {
    overflow-y:visible;
    overflow-x: hidden;
}

ul.header-menu li ul::-webkit-scrollbar {
  width: 6px;
}

ul.header-menu li ul::-webkit-scrollbar-thumb {
    background: var(--tertiary-text);
    border: 1px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;
}

ul.header-menu li ul.notifications li {
    display: flex;
    width: 100%;
    align-items: start;
    gap: .75rem;
    padding: 1.25rem 2rem 1.25rem 1rem;
    border-radius: 0;
    cursor: pointer;
}

ul.header-menu li .notifications hr {
    margin: 0;
}

ul.header-menu li .notifications .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1rem;
    font-size: 1.125rem;
}

ul.header-menu li .notifications .submenu-text .subtext {
    margin-top: .5rem;
}

ul.header-menu li .notifications .submenu-text .header {
    font-weight: 400;
}

ul.header-menu li .notifications .submenu-text.new .header {
    font-weight: 500;
}

#language img {
    display: inline;
    height: 1lh;
}

input[type="search"] {
    background-image: var(--search-icon);
    background-position: left 1.25rem center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: .5rem 0;
    padding-left: 3.5rem;
    height: 100%;
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    margin-right: auto;
    transition: padding-left .3s;
    color: var(--primary-text);
    border-radius: inherit;
    width: 100%;
}

input[type="search"]::placeholder {
    color: var(--tertiary-text);
    overflow: visible;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    padding-bottom: .2rem;
    background-image: var(--search-cancel);
    cursor: pointer;
}

input[type="search"]:hover::-webkit-search-cancel-button {
    display: none;
}

input[type="search"]:focus:hover::-webkit-search-cancel-button {
    display: unset;
}

input[type="search"]:focus {
    background-image: none;
    outline: none;
    cursor: auto;
    padding-left: 1.5rem;
}

.profile {
    height: 2.5rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.profile-header > .profile::after {
    content: '';
    background-color: var(--green);
    height: .75rem;
    width: .75rem;
    position: absolute;
    bottom: -.125rem;
    right: -.125rem;
    border-radius: 12px;
    border: 2px solid var(--section-bg-color);
}

.profile img {
    height: 100%;
    width: 100%;
    border-radius: 100vw;
}

button.notifications::after {
    content: '3';
    color: var(--section-bg-color);
    background-color: var(--red);
    height: 1.25rem;
    width: 1.25rem;
    font-size: .75rem;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifications .success,
.notifications .warning {
    height: 2.5rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.notifications .success {
    background-color: var(--bg-green);
}

.notifications .success svg {
    stroke: var(--dark-green);
}

.notifications .warning {
    background-color: var(--bg-yellow);
}

.notifications .warning svg {
    stroke: var(--dark-yellow);
}

.search-icon {
    stroke: var(--primary-text);
}

hgroup {
    display: grid;
    grid-template: 1fr auto / 1fr 1fr;
    align-items: center;
}

.hello {
    user-select: none;
}

.header-buttons {
    display: flex;
    grid-area: 1 / 2;
    justify-self: end;
    gap: .75rem;
    user-select: none;
}

.breadcrumbs {
    color: var(--secondary-text);
    cursor: default;
}

.breadcrumbs .current-page {
    color: var(--primary-text);
    cursor: auto;
    user-select: text;
}

.home-icon {
    stroke: var(--secondary-text);
    display: inline-block;
    margin-right: .125rem;
    vertical-align: bottom;
}

.breadcrumb-separator {
    user-select: none;
}

.header-buttons button {
    color: inherit;
    font-size: inherit;
    background-color: var(--section-bg-color);
    border: unset;
    appearance: none;
    height: 2.75rem;
    width: 7.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    cursor: pointer;
    transition: box-shadow .25s;
}

.header-buttons button:hover {
    box-shadow: var(--hover-box-shadow);
}

.header-buttons button:last-child {
    color: white;
    background-color: var(--main-color);
}

.header-buttons .button-icon {
    stroke: var(--primary-text);
}

.header-buttons button:last-child .button-icon {
    stroke: white;
}

.tooltip-modal {
    position: fixed;
    top: 300px;
    left: 400px;
    min-height: 4rem;
    min-width: 6rem;
    background-color: var(--transparent-background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background: var(--modal-body);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid var(--modal-header);
    transition: .25s;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.tooltip-header {
    text-transform: uppercase;
    font-size: .875em;
    letter-spacing: .05em;
    font-weight: 500;
    width: 100%;
    padding: .5rem 1.5rem .5rem 1rem;
    border-bottom: 1px solid var(--border);
    background: var(--modal-header);
    border-radius: .5rem .5rem 0 0;
}

.tooltip-body {
    padding: .5rem 1.5rem .5rem 1rem;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, min-content);
    gap: 24px;
}

main > section {
    background-color: var(--section-bg-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: relative;
}

section > .more {
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    top: 1.5rem;
    right: 1rem;
}

section .more * {
    pointer-events: none;
}

section > .more svg {
    stroke: var(--primary-text);
    fill: var(--primary-text);
    height: 100%;
    width: 100%;
}

section > .more-menu {
    top: 3rem;
    right: 1rem;
}

section h2 {
    margin-bottom: .25rem;
}

section h3 {
    color: var(--secondary-text);
}

section p {
    line-height: 1.5em;
}

.welcome {
    grid-area: 1 / 1 / span 2 / span 6;
    background-color: var(--main-color);
    background: no-repeat 95% 80%/40% url(/undraw_stars_re_6je7.svg), linear-gradient(45deg, var(--main-color), rgb(201, 192, 255));
    /* background: linear-gradient(45deg, var(--main-color), rgb(201, 192, 255)); */
    color: white;
}

.welcome svg {
    stroke: white;
    stroke-width: 3;
}

.welcome > p {
    width: 50%;
}

.orders,
.conversion {
    grid-column: span 3;
    grid-row: span 2;
}

.earnings-report {
    grid-column: span 8;
    grid-row: span 3;
}

.weekly-earnings {
    grid-column: span 4;
    grid-row: span 3;
}

.revenue-breakdown,
.website-analytics {
    grid-column: span 6;
    grid-row: span 3;
}

.projects {
    grid-column: span 12;
}

.earnings-report .earnings-body {
    display: grid;
    grid-template-columns: 1fr 10rem;
    column-gap: 1rem;
    row-gap: 2rem;
    height: 100%;
}

.earnings-report .earnings-body .graph {
    height: 100%;
    width: 100%;
    min-height: 16rem;
    display: grid;
    grid-template-columns: 3.5rem repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr) 1.5rem;
    padding: 2rem 1rem 0 0;
}

.earnings-report .earnings-body .graph .y-axis-label {
    grid-area: 1 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-right: 1rem;
    margin: -.5rem 0;
    color: var(--secondary-text);
    font-size: .75em;
    user-select: none;
}

.earnings-report .earnings-body .graph .x-axis-label {
    grid-area: 5 / 1 / 6 / 10;
    display: grid;
    grid-template-columns: 3rem repeat(8, 1fr);
    justify-items: center;
    align-items: end;
    color: var(--secondary-text);
    font-size: .75em;
    user-select: none;
}

.earnings-report .earnings-body .graph .graph-line {
    grid-column: span 1;
    grid-row: span 2;
}

.earnings-report .earnings-body .graph .graph-line.above {
    grid-column: span 1;
    grid-row: span 2;
    border-top: 1px dashed var(--border);
    border-bottom: 1px dashed var(--border);
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.earnings-report .earnings-body .graph .graph-line.above:before {
    content: '';
    width: 100%;
    height: 50%;
    border-top: 1px dashed var(--border);
    position: absolute;
}

.earnings-report .earnings-body .graph .graph-line.below {
    grid-column: span 1;
    grid-row: span 2;
    border-bottom: 1px dashed var(--border);
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
}

.earnings-report .earnings-body .graph .graph-line.below:before {
    content: '';
    width: 100%;
    height: 50%;
    border-bottom: 1px dashed var(--border);
    position: absolute;
}

.earnings-report .graph-line.above .bar {
    background-color: var(--main-secondary);
    width: .5rem;
    height: 0%;
    border-radius: .25rem .25rem 0 0;
    position: relative;
    z-index: 1;
    transition: .25s;
}

.earnings-report .earnings-body .graph .graph-line .bar:hover {
    opacity: .8;
}

.earnings-report .graph-line.above > .profit {
    background-color: var(--green);
    height: 0%;
    position: absolute;
    bottom: 0;
}

.earnings-report .graph-line.below > .bar {
    background-color: var(--yellow);
    width: .5rem;
    height: 0%;
    border-radius: 0 0 .25rem .25rem;
    z-index: 1;
    transition: .25s;
}

.earnings-report .earnings-body .graph .graph-line.below > div:before {
    content: '';
    height: .5rem;
    width: 100%;
    border-left: 1px solid var(--border);
    position: absolute;
    margin-bottom: -.5rem;
    bottom: 0;
    left: 0;
}

.earnings-report .earnings-body .graph .graph-line.below > div:after {
    content: '';
    height: .5rem;
    width: 100%;
    border-right: 1px solid var(--border);
    position: absolute;
    margin-bottom: -.5rem;
    bottom: 0;
    left: 0;
}

.earnings-report .info {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    align-content: center;
}

.weekly-earnings-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}

.earnings-report .info .number {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.earnings-report .info .profit-percentage,
.weekly-earnings-info .weekly-stat {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.earnings-report .info .profit-percentage .profit-info,
.weekly-earnings-info .weekly-stat .stat-info {
    display: flex;
    flex-direction: column;
}

.earnings-report .info .profit-percentage .number {
    font-size: 2rem;
    font-weight: 500;
}

.earnings-report .info .profit-percentage .icon,
.weekly-stat .icon {
    height: 2.5rem;
    width: 2.5rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--main-tertiary);
}

.weekly-stat:nth-child(1) .icon {
    background-color: var(--bg-green);
}

.weekly-stat:nth-child(1) .icon svg {
    stroke: var(--dark-green);
}

.weekly-stat:nth-child(2) .icon {
    background-color: var(--bg-blue);
}

.weekly-stat:nth-child(2) .icon svg {
    stroke: var(--blue);
}

.weekly-stat:nth-child(3) .icon {
    background-color: var(--bg-yellow);
}

.weekly-stat:nth-child(3) .icon svg {
    stroke: var(--dark-yellow);
}

.earnings-report .info .profit-percentage .icon svg,
.weekly-stat .icon svg {
    stroke: var(--main-color);
    height: 1.5rem;
    width: 1.5rem;
}

.earnings-report .info > div:nth-child(n+2) {
    margin-left: .5rem;
}

.earnings-report .info > div:nth-child(n+2) .text {
    margin-left: 1rem;
}

.earnings-report .info > div:nth-child(n+2) .number:before {
    content: '';
    display: inline-block;
    height: .5rem;
    width: .5rem;
    border-radius: 100%;
    margin-right: .5rem;
    background-color: var(--main-secondary);
}

.earnings-report .info > div:nth-child(2) .number:before {
    background-color: var(--main-secondary);
}

.earnings-report .info > div:nth-child(3) .number:before {
    background-color: var(--yellow);
}

.earnings-report .info > div:nth-child(4) .number:before {
    background-color: var(--green);
}

.weekly-earnings-info .weekly-stat .header {
    font-size: 1.25rem;
    font-weight: 500;
}

.weekly-earnings-info .weekly-stat .body {
    color: var(--secondary-text);
    font-size: .875em;
}

.weekly-earnings-graph {
    height: 100%;
    width: 100%;
    min-height: 10rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr min-content;
    row-gap: .5rem;
}

.weekly-earnings-graph .x-axis-label {
    grid-area: 2 / 1 / 3 / 8;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: end;
    color: var(--secondary-text);
    font-size: .75em;
    user-select: none;
}

.weekly-earnings-graph .weekly-bar {
    background-color: transparent;
    width: 1rem;
    height: 100%;
    border-radius: .25rem;
    z-index: 1;
    align-self: end;
    justify-self: center;
    transition: .25s;
    display: flex;
    align-items: end;
}

.weekly-earnings-graph .weekly-bar:hover {
    background-color: var(--border);
}

.weekly-earnings-graph .weekly-bar .earnings-bar-fill {
    background-color: var(--main-tertiary);
    width: 100%;
    height: 0%;
    border-radius: .25rem;
    transition: .25s;
}

.weekly-earnings-graph .weekly-bar.most .earnings-bar-fill {
    background-color: var(--main-color);
}

.weekly-earnings-graph .weekly-bar:hover {
    opacity: .8;
}

section > .stat {
    font-size: 2em;
    font-size: min(6ch, 2em);
    font-size: 5vw;
    font-size: clamp(1.5rem, 5vw, 2em);
    font-weight: 500;
}

nav::-webkit-scrollbar {
  width: 12px;
}
 
nav::-webkit-scrollbar-thumb {
  background: var(--tertiary-text);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

nav::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-text); 
  border: 3px solid transparent;
  background-clip: padding-box;
}

.toggle-overlay {
    display: none;
    position: fixed;
    background-color: rgb(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.toggle-overlay.enabled {
    display: block;
}

section > .icon {
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--main-tertiary);
    margin-bottom: 1rem;
}

section > .icon svg {
    stroke: var(--main-color);
    height: 2rem;
    width: 2rem;
}

.orders > .icon {
    background-color: var(--bg-blue);
}

.orders > .icon svg {
    stroke: var(--blue);
}

.conversion > .icon {
    background-color: var(--bg-green);
}

.conversion > .icon svg {
    stroke: var(--dark-green);
}

.section-body {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1.5fr;
}

.section-body > .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: .5rem;
}

.totals {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.revenue-breakdown .earnings {
    font-size: 2em;
    font-size: min(6ch, 2em);
    font-size: 5vw;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 500;
}

.totals .comparison {
    color: var(--primary-text);
    font-size: 1em;
    margin-top: unset;
}

.comparison {
    display: flex;
    align-items: center;
    color: var(--secondary-text);
    font-size: .875em;
    margin-top: .5rem;
}

.comparison .arrow {
    stroke: var(--dark-green);
    background-color: var(--bg-green);
    display: inline-flex;
    border-radius: 100%;
    padding: .25em;
    margin-right: .5ch;
}

.comparison .arrow.bad {
    stroke: var(--dark-red);
    background-color: var(--bg-red);
}

.arrow svg {
    height: 1em;
    width: 1em;
}

.legend {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    gap: 1em;
    margin-top: auto;
    align-items: start;
}

.year {
    display: flex;
    align-items: center;
    gap: .5ch;
}

.legend .year:before {
    content: '';
    display: inline-block;
    height: .5em;
    width: .5em;
    border-radius: 100%;
    background-color: var(--main-color);
    aspect-ratio: 1/1;
}

.legend .year:nth-child(1):before {
    background-color: var(--main-tertiary);
}

.legend .year:nth-child(2):before {
    background-color: var(--main-secondary);
}

.pie-section {
    transition: .1s ease;
}

.pie-section:hover {
    opacity: .8;
    stroke: var(--section-bg-color);
    stroke-width: 3;
}

.pie-chart {
    justify-self: end;
    padding-left: min(5%, 2rem);
}

.pie-chart > .pie-section:nth-child(1) {
    fill: var(--main-color);
}

.pie-chart > .pie-section:nth-child(2) {
    fill: var(--main-secondary);
}

.pie-chart > .pie-section:nth-child(3) {
    fill: var(--main-tertiary);
}

.line-graph {
    margin-top: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.line-point {
    scale: 1;
    transition: .25s;
}

.line-chart > path:nth-of-type(3) {
    transform-origin: .5% 98%;
}

.line-chart > path:nth-of-type(4) {
    transform-origin: 15% 40%;
}

.line-chart > path:nth-of-type(5) {
    transform-origin: 28.9% 74.5%;
}

.line-chart > path:nth-of-type(6) {
    transform-origin: 42.8% 51%;
}

.line-chart > path:nth-of-type(7) {
    transform-origin: 56.8% 66%;
}

.line-chart > path:nth-of-type(8) {
    transform-origin: 70.8% 2%;
}

.line-chart > path:nth-of-type(9) {
    transform-origin: 84.8% 35%;
}

.line-chart > path:nth-of-type(10) {
    transform-origin: 99.5% 6%;
}

.line-chart > path:hover:nth-child(n+3) {
    scale: 2;
    fill: var(--main-secondary);
}

.site-stats {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1 1;
    margin-top: 2rem;
}

.site-stats > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: min(8rem, 100%);
    gap: .5rem;
}

.site-stats > div > .icon {
    height: 2rem;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--main-tertiary);
}

.site-stats > div > .icon svg {
    stroke: var(--main-color);
    height: 1em;
    width: 1em;
}

.site-stats .subtext {
    color: var(--secondary-text);
}

.site-stats > div:nth-child(2) > .icon svg {
    stroke: var(--green);
}

.site-stats > div:nth-child(2) > .icon {
    background-color: var(--bg-green);
}

.site-stats > div:nth-child(3) > .icon svg {
    stroke: var(--dark-yellow);
}

.site-stats > div:nth-child(3) > .icon {
    background-color: var(--bg-yellow);
}

.site-stats > div > .info {
    display: flex;
    flex-direction: column;
}

.site-stats > div > .info > .text {
    font-weight: 500;
    font-size: 1.2em;
}

.site-stats > div > .info > .subtext {
    font-size: .8em;
}

main > .projects {
    padding: unset;
}

.projects > h2 {
    padding: 2rem 0 0 2rem;
}

.projects > div {
    width: 100%;   
    overflow-x: auto;
    padding: 0 2rem 2rem 2rem;
}

.projects > div::-webkit-scrollbar {
    height: 18px;
}
  
.projects > div::-webkit-scrollbar-thumb {
    background: var(--tertiary-text);
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;
}
  
.projects > div::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-text);
    background-clip: padding-box;
}

.projects table {
    font-size: .875rem;
    width: 100%;
}

.projects .icon {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--main-color);
    border-radius: 100%;
    background-color: var(--main-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .admin-dashboard.icon {
    background-color: rgb(129, 140, 248, .4);
}

.projects .calculator.icon {
    background-color: rgb(230, 196, 146, .4);
}

.projects .landing-page.icon {
    background-color: rgb(142, 182, 231, .4);
}

.projects .icon img {
    height: 70%;
    border-radius: 100%;
}

.projects tr {
    border: unset;
    border-bottom: 1px solid var(--border);
    padding: .5rem 0;
}

th {
    text-align: left;
    font-weight: unset;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .05em;
}

tr > td:nth-child(1) > a {
    display: flex;
    align-items: center;
    gap: .5rem;
}

tr {
    display: grid;
    grid-template-columns: 14rem 5.5rem 1fr 3rem 2rem;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: .125rem;
    font-size: 1rem;
}

.project-date {
    font-size: .875em;
    color: var(--secondary-text);
}

.progress {
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: .375rem;
    background-color: var(--border);
    border-radius: 1rem;
}

.progress-fill {
    background-color: var(--main-color);
    width: 50%;
    height: 100%;
    border-radius: 1rem;
}

.center {
    text-align: center;
}

td.center {
    font-size: 1.25rem;
}

.percent {
    width: 1rem;
    padding: 0 1rem;
}

.actions button {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
}

.actions button svg {
    stroke: var(--primary-text);
    stroke-width: 3;
    fill: var(--primary-text);
    height: 100%;
}

.status {
    display: flex;
    align-items: center;
    gap: .25rem;
}

tr td.status:before {
    content: '';
    display: inline-block;
    height: .5rem;
    width: .5rem;
    border-radius: 100%;
    background-color: var(--main-secondary);
}

tr.completed td.status:before {
    background-color: var(--green);
}

tr.in-progress td.status:before {
    background-color: var(--yellow);
}

tr.dropped td.status:before {
    background-color: var(--red);
}

tr.dropped td.status:before {
    background-color: var(--red);
}

.completed .icon {
    color: var(--dark-green);
    background-color: var(--bg-green);
}

.dropped .icon {
    color: var(--dark-red);
    background-color: var(--bg-red);
}

@media screen and (width < 1200px) {
    .nav-menu-button {
        display: unset;
    }
    .layout {
        width: 100%;
        margin-left: 0;
    }
    .header-wrapper {
        width: 100%;
    }
    aside {
        transform: translate(-100%);
    }
    aside.visible {
        transform: unset;
    }
    input[type="search"] {
        background-position: left center;
        padding: .5rem 0;
        padding-left: 2.25rem;
    }
    input[type="search"]:focus {
        padding-left: 0;
    }
}

@media screen and (width < 800px) {
    .welcome {
        grid-area: 1 / 1 / span 2 / span 12;
    }
    
    .orders,
    .conversion {
        grid-column: span 6;
    }
    .website-analytics {
        grid-column: span 12;
    }
    .earnings-report {
        grid-column: span 12;
    }
    .weekly-earnings {
        grid-column: span 6;
    }
}

@media screen and (width < 600px) {
    hgroup {
        gap: .5rem;
    }
    hgroup > * {
        grid-column: span 2;
    }
    .header-buttons {
        grid-area: 3 / 1;
        justify-self: stretch;
        margin-top: .5rem;
    }
    .earnings-report .earnings-body {
        grid-template-columns: 1fr;
    }
    .earnings-report .info {
        align-items: end;
    }
    .revenue-breakdown {
        grid-column: span 12;
    }
    .weekly-earnings {
        grid-column: span 12;
    }
    .welcome > p {
        width: 60%;
    }
    .line-point {
        scale: 2;
    }
    ul.header-menu li ul.notifications {
        position: fixed;
    }
}

@media screen and (width < 400px) {
    .show400 {
        display: block;
    }
    .hide400 {
        display: none;
    }
    ul.header-menu li ul.notifications {
        right: 0;
        width: 100%;
    }
    input[type="search"]::placeholder {
        visibility: hidden;
    }
}